body{
    font-family: Arial;
    padding:40px;
    background:white;
    transition:0.4s;
}

button{
    padding:10px 20px;
    margin:5px;
    cursor:pointer;
}

input{
    padding:10px;
    width:250px;
}

#message{
    font-size:22px;
    color:blue;
}

ul{
    margin-top:20px;
}

li{
    padding:8px;
    background:lightgray;
    margin:5px;
}